ADF/pipeline/dimProduct_sub.json
{
	"name": "dimProduct_sub",
	"properties": {
		"activities": [
			{
				"name": "Assign batch id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchId",
					"value": {
						"value": "@activity('Start Batch').output.firstRow.batchId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign Batch Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Assign batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchId",
							"value": {
								"type": "Expression",
								"content": "@variables('batchId')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Start Batch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[job].[sp_BatchStart]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							},
							"jobName": {
								"type": "String",
								"value": "dimProduct_sub"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProduct_stg",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h9].[dimProduct_publish]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProduct_stg",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Post Process",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[h9].[dimProduct_postprocess]",
						"storedProcedureParameters": {
							"batchId": {
								"type": "Int32",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dimProduct_stg",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "batchId",
								"value": {
									"value": "@variables('batchId')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "rowKey",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "batchId",
									"type": "String"
								},
								"sink": {
									"name": "rowBatchKey",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_dimProduct",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dimProduct_stg",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "End Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Post Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchEnd]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@variables('batchId')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "vgbi_nem",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"batchId": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-28T09:57:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}