ADF/pipeline/factInv_main.json
{
	"name": "factInv_main",
	"properties": {
		"activities": [
			{
				"name": "factInv_main",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "factInv_sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Batch Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "factInv_main",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[job].[sp_BatchFail]",
					"storedProcedureParameters": {
						"batchId": {
							"value": {
								"value": "@activity('factInv_main').output.pipelineReturnValue",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "vgbi_nem",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Batch Fail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat(pipeline().Pipeline, ': Failed to run')",
						"type": "Expression"
					},
					"errorCode": "500"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-29T09:32:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}